h1 {
  font-size: 25px;
  text-align: center;
}
#container {
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
}
#add-task {
  width: 100%;
    height: 30px;
    border: 1px solid gray;
    padding-left: 10px;
}
#list {
  list-style: none;
    padding: 0;
    margin-top: 20px;
}

#list li {
  margin: 10px 0;
    padding: 5px 0;
}

#list li:hover {
  background-color: #f1f1f1;
}